.idea
doc/tex/manual.aux
doc/tex/manual.log
doc/tex/manual.out
doc/tex/manual.toc
src/_sett
src/refseq
src/config.ini.php
tests/test_results/error_screenshots
tests/test_results/reports
vendor
composer.lock
__*