.idea
doc/tex/*.aux
doc/tex/*.html
doc/tex/*.log
doc/tex/*.out
doc/tex/*.pdf
doc/tex/*.toc
src/_sett
src/refseq
src/config.ini.php
tests/test_results/error_screenshots
__*

# Composer-related files.
composer.lock
chromedriver
chromedriver_linux64.zip
geckodriver
geckodriver-v*-linux64.tar.gz
selenium-server-standalone-*.jar
vendor
