.idea
doc/tex/*.aux
doc/tex/*.html
doc/tex/*.log
doc/tex/*.out
doc/tex/*.pdf
doc/tex/*.toc
src/_sett
src/refseq
src/config.ini.php
tests/test_results/error_screenshots
tests/test_results/reports
vendor
composer.lock
__*
