<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false" colors="true">
  <testsuites>
    <testsuite name="simpleTest">
      <file> /home/travis/build/LOVDnl/LOVD3/tests/travis/tests/simpleTest.php</file>
      <file> /home/travis/build/LOVDnl/LOVD3/tests/travis/tests/simpleSecondTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>